 [Desktop Entry]
 Type=Service
 ServiceTypes=KonqPopupMenu/Plugin
 MimeType=image/*
 Actions=removeMetadata
 
 [Desktop Action removeMetadata]
 Name=Remove Metadata
 Name[nl]=Metagegevens wissen
 Icon=document-cleanup
 Exec=exiftool -all= %U -overwrite_original
